<%- include('../partials/header') %>

<div class="container">    
    <div class="row text-center pt-4">
        <div>
        <h1>Upcoming Events</h1>
        </div>
    </div>
    <% let now = new Date() %>
    <% data.dinnerData.forEach(function(d){ %>
        <% if (d.eventEndDate > now) { %>

    <div class="row">
        <div class="col-md-1"></div>

        <div class="col-md-10 ">
            <div class="card mt-2 mb-5 shadow-lg">
                <div class="card-header py-4 pb-2 rounded-2" id="card-header">
                    <h2><%= d.eventName %></h2>
                    <p>Hosted by: <%= d.eventHost %></p>
                </div>
                <div class="card-body text-body rounded-2" id="card-body">
                    <div class="row">
                        <div class="col-8">
                            <p class="display-6"><%= d.eventDesc %></p>
                        </div>
                        <div class="col-4">
                            <p><h5><span><%= d.eventStartDate.toDateString() %></span></h5> <h6><span><%= d.eventStartDate.toLocaleTimeString() %></span></h6></p>
                            <p><h5><span><%= d.eventEndDate.toDateString() %></span></h5> <h6></span><%= d.eventEndDate.toLocaleTimeString() %></span></h6></p>
                            <p><%= d.eventLocation %></p>
                            <a href="/dinners/<%= d._id %>" role="button" class="btn btn-outline-secondary">See details</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <% } %>
        <div class="col-md-1"></div>
    </div>

    <% }) %>
</div>



<%- include('../partials/footer') %>