<%- include('../partials/header') %>

    <% data.dinnerData.forEach(function(d){ %>
    <div class="card mt-4">
        <div class="card-header py-0">
            <h2><%= d.eventName %></h2>
            <p>Hosted by: <%= d.eventHost %></p>
        </div>
        <div class="card-body text-body">
            <p><%= d.eventDate %></p>
            <p><%= d.eventTimeStart %></p>
            <p><%= d.eventTimeEnd %></p>
            <p><%= d.eventLocation %></p>
            <a href="/dinners/<%= d._id %>" class="link-dark">See details</a>
        </div>
    </div>
</div>
    <% }) %>



<%- include('../partials/footer') %>