<%- include('../partials/header') %>


<div class="dinner-details container mt-3"> 
        <div class="row">
            <div class="col-12 d-flex justify-content-center pt-3">
                <h1><%= dinner.eventName %></h1>
            </div>
        </div>

        <div class="row">
            <div class="col-5"></div>
        <!-- squid with single line to call upon the data -->
            <div title="Add to Calendar" class="addeventatc col-2 mt-2 border border-dark rounded">
            Add to Calendar
            <span class="start"><%= start %></span>
            <span class="end"><%= end %></span>
            <!-- <span class="timezone">America/Los_Angeles</span> -->
            <span class="title"><%= dinner.eventName %></span>
            <span class="description">Describe Party Here</span>
            <span class="location"><%= dinner.eventLocation %></span>
            </div>

        </div>
        <div class="col-5"></div>

        <div class="row mt-4 text-center">
            <div class="col-12 d-flex justify-content-center " id="openai">
                <p class="display-6 my-2"><%= dinner.eventDesc %></p>
            </div>
        </div>

        <div class="row">
            <div class="col-8 border border-dark rounded">
                <div class="pt-2 pb-2">Event Start Date:
                    <h8><%= dinner.eventStartDate%></h8>
                </div>
                <div class="py-2">Event End Date:
                    <h8><%= dinner.eventEndDate %></h8>
                </div>
                <div class="py-2">Event Location:
                    <h8><%= dinner.eventLocation %></h8>
                </div>
                <div class="pt-2 pb-2">Event Host:
                    <h8><%= dinner.eventHost %></h8>
                </div>
            </div>

            <div class="col-4 border border-dark rounded">
                <div class="d-flex justify-content-left">
                    <h6><a id="bring-dish-link" href="/dinners/<%= dinner._id %>/foods/new">Bring a dish!</a></h6>
                </div>
                <div class="d-flex justify-content-left mt-3"><h8>Food List:</h8></div>
                <div class="d-flex justify-content-left">
                    <% if (dinner.foodList) {%>
                    <% dinner.foodList.forEach(function (item) { %>
                        <p><%= item.foodName %></p>
                        <p class="mx-2"><%= item.foodAllergen %></p>
                        <form>
                            <button class="mx-2" type="submit" formaction="/dinners/<%= dinner._id %>/foods/<%= item._id %>/edit">Edit</button>
                        </form>
                        <form action="/dinners/<%= dinner._id %>/foods/<%= item._id %>/?_method=DELETE" method="POST">
                            <button type="submit" >Delete</button>
                        </form>
                    <% }); %>
                <% } else { %>
                        <p>No food listed.</p>
                <% }; %>
                </div>
            </div>
            <div class="row col-8">
                <% if (dinner.attendeeList.length) {%>
                <h7 class="mt-4">Attendees:</h7>
                <% dinner.attendeeList.forEach((attendee) => { %>
                    <div><h6><%= attendee.name %></h6></div>
                <% }) %>
                <% }%>

            </div>
        </div>
</div>

            <!---Added food shown below-->  

<%- include('../partials/footer') %>