<%- include('../partials/header') %>


<div class="dinner-details container mt-4"> 
        <div class="row">
         <div class="col-12 d-flex justify-content-center">
            <h1><%= dinner.eventName %></h1>
        </div>
        </div>

        <div class="row">
            <div class="col-5"></div>
        <!-- squid with single line to call upon the data -->
        <div title="Add to Calendar" class="addeventatc col-2 mt-2">
            Add to Calendar
            <span class="start"><%= start %></span>
            <span class="end"><%= end %></span>
            <!-- <span class="timezone">America/Los_Angeles</span> -->
            <span class="title"><%= dinner.eventName %></span>
            <span class="description">Describe Party Here</span>
            <span class="location"><%= dinner.eventLocation %></span>
            </div>
        </div>
        <div class="col-5">
        </div>

        <div class="row mt-4">
        <div class="col-12 d-flex justify-content-center" id="openai">
            <p>open ai integration below:</p>
        </div>
        </div>

        <div class="row">
        <div class="col-8">
            <div class="pt-2 pb-2">Event Start Date:
                <h8><%= dinner.eventStartDate%></h8>
            </div>
            <div class="py-2">Event End Date:
                <h8><%= dinner.eventEndDate %></h8>
            </div>
            <div class="py-2">Event Location:
                <h8><%= dinner.eventLocation %></h8>
            </div>
            <div class="pt-2 pb-2">Event Host:
                <h8><%= dinner.eventHost %></h8>
            </div>
        </div>
        <div class="col-4">
            <div>Food List:</div>
            <div class="d-flex justify-content-center">
                <% if (dinner.foodList) {%>
                <% dinner.foodList.forEach(function (item) { %>
                    <p><%= item.foodName %></p>
                    <p><%= item.foodAllergen %></p>
            </div>
            
                    <form>
                        <button type="submit" formaction="/dinners/<%= dinner._id %>/foods/<%= item._id %>/edit">Edit Food</button>
                     </form>
                     <form action="/dinners/<%= dinner._id %>/foods/<%= item._id %>/?_method=DELETE" method="POST">
                        <button type="submit" >Delete</button>
                     </form>
                <% }); %>
            <% } else { %>
                    <p>No food listed.</p>
            <% }; %>
        <div id="bring-dish-link"><a href="/dinners/<%= dinner._id %>/foods/new">Bring a dish!</a></div>
        </div>

            <!---Added food shown below-->  

<div>
    <h2>Who is coming?</h2>
    <% dinner.attendeeList.forEach((attendee) => { %>
        <div><p><%= attendee.name %></p></div>
    <% }) %>
</div>


<%- include('../partials/footer') %>